* {
  font-family: "IosevkaTerm Nerd Font", monospace;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.01);
}

.modules-center {
  background-color: transparent;
  padding: 0px;
}

#workspaces,
#custom-caffeine,
#custom-updates,
#custom-separator,
#temperature,
#cpu,
#memory,
#clock,
#pulseaudio,
#battery,
#network {
  padding: 0px 8px;
  color: #888888;
  border-radius: 0px;
}

#custom-media,
#clock,
#battery {
  color: #b8b8b8;
  font-weight: bolder;
}

#custom-separator {
  color: #4c4c4c;
}

#tray {
  padding: 0px 8px;
  border-right: none;
}

#workspaces button {
  color: #4c4c4c;
  padding: 0 4px;
  border-radius: 0px;
  border: none;
}

#workspaces button.active {
  color: #b8b8b8;
}

#workspaces button:hover {
  background-color: #1a1a1a;
  color: #b8b8b8;
  box-shadow: none;
  text-shadow: none;
}
