* {
  font-family: "IosevkaTerm Nerd Font", monospace;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: transparent;
  /* border-bottom: 1px solid #1A1A1A; */
}

.modules-center {
  background-color: transparent;
  padding: 0px;
}

#workspaces,
#custom-caffeine,
#custom-updates,
#custom-separator,
#temperature,
#cpu,
#memory,
#clock,
#pulseaudio,
#battery,
#network {
  padding: 0px 8px;
  color: #888888;
  border-radius: 0px;
}

#custom-media,
#clock,
#battery {
  color: #B8B8B8;
}

#custom-separator {
  color: #4C4C4C;
}

#tray {
  padding: 0px 8px;
  border-right: none;
}

#workspaces button {
  color: #4C4C4C;
  padding: 0 4px;
  border-radius: 0px;
  border: none;
}

#workspaces button.active {
  color: #B8B8B8;
}

#workspaces button:hover {
  background-color: #1A1A1A;
  color: #B8B8B8;
  box-shadow: none;
  text-shadow: none;
}
